<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Độ ưu tiên trong CSS</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <div class="loading">
      <div></div>
      <div></div>
    </div> -->
    <div class="loading-circle">
      <div style="--value: 1"></div>
      <div style="--value: 2"></div>
      <div style="--value: 3"></div>
      <div style="--value: 4"></div>
      <div style="--value: 5"></div>
      <div style="--value: 6"></div>
      <div style="--value: 7"></div>
      <div style="--value: 8"></div>
    </div>
  </body>
</html>
