<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title></title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="screen-image">
      <img
        src="https://static.dribbble.com/users/3860505/screenshots/14028410/media/485450508c4aa828bf09bc4e4ef26a81.png"
        alt=""
        class="screen-image__img"
      />
      <div class="screen-image__cover"></div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
