*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body,
input,
button,
textarea,
select {
  outline: none;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
body {
  padding: 20px;
}
.container {
  /* color: orange; */
  border-radius: 10px;
}
.one {
  border-radius: inherit;
  color: inherit;
}
.two {
  /* initial: black */
  color: initial;
}
.three {
  color: unset;
  /* inherit or initial */
  /* inherit: xay ra khi mà thằng cha có trùng thuộc tính */
  /* initial: xay ra khi mà thằng cha ko có trùng thuộc tính thì nó sẽ lấy theo browser */
}
.bx {
  position: fixed;
}
@media screen and (min-width: 1024px) {
  .bx {
    position: initial;
  }
}
.boxed {
  width: 200px;
  height: 200px;
  background-color: red;
}
section {
  display: none;
}
.background {
  width: 100%;
  height: 400px;
  background-image: url("../images/img9.png");
}
