html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}
.btn {
  cursor: pointer;
  border: 0;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  text-align: center;
}
