<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Login form using only HTML CSS</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="javascript:void(0);" class="login">
      <div class="login-field">
        <i class="fa fa-envelope login-icon"></i>
        <input type="text" class="login-input" placeholder="Email or phone number" required>
      </div>
      <div class="login-field">
        <i class="fa fa-lock login-icon"></i>
        <input type="password" class="login-input" placeholder="Password" required>
      </div>
      <a href="#" class="login-forgot-password">Forgot password?</a>
      <button class="login-submit" type="submit">Login</button>
    </form>
  </body>
</html>
