.blog {
  margin-bottom: 16rem;
  &-heading {
    text-align: center;
    margin-bottom: 13.5rem;
  }
  &-image {
    height: 45rem;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 6rem;
    display: block;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.25);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 600;
    display: block;
    color: inherit;
  }
  &-desc {
    margin-bottom: 5rem;
  }
  &-by {
    font-size: 2rem;
  }
  &-author {
    color: inherit;
    font-weight: 600;
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem 0;
  }
  &-item {
    display: grid;
    grid-template-columns: 1fr 13.5rem;
    grid-gap: 0 8rem;
    align-items: center;
  }
  &-item-title {
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 2.5rem;
    color: inherit;
    display: block;
  }
  &-item-author {
    font-weight: 300;
    color: $text-color-light;
    font-size: 2rem;
  }
  &-item-image {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    img {
      border-radius: 20px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 10rem;
    &-image {
      height: auto;
    }
    &-heading {
      margin-bottom: 5rem;
    }
  }
}
