.book {
  padding: 18rem 0 16rem;
  border-radius: 20px;
  background-color: $light-blue;
  margin-bottom: 17.5rem;
  &-container {
    max-width: 96rem;
    margin: 0 auto;
  }
  &-heading {
    text-align: center;
    margin-bottom: 7.5rem;
  }
  &-form {
    background-color: white;
    border-radius: 12px;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 10rem;
    grid-gap: 2.5rem;
    font-size: 2.5rem;
  }
  &-button {
    width: 10rem;
    height: 10rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-destination {
    background-color: $gray;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 10rem;
    ion-icon {
      font-size: 3rem;
      color: $primary;
    }
  }
  &-calendar {
    height: 10rem;
  }
  &-input {
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: $gray-blur;
    font-weight: 300;
  }
  @media screen and (max-width: 767px) {
    padding: 8rem 0 6rem;
    margin-bottom: 10rem;
    &-heading {
      margin-bottom: 5rem;
    }
    &-form {
      grid-template-columns: 1fr;
      grid-gap: 2.5rem 0;
    }
    &-button {
      width: 100%;
      font-size: 3rem;
    }
  }
}
.dropdown {
  width: 100%;
  height: 100%;
  background-color: $gray;
  border-radius: 12px;
  position: relative;
  &-list {
    display: none;
  }
  &-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    color: $gray-blur;
    font-weight: 300;
  }
  ion-icon {
    font-size: 3rem;
    color: $primary;
  }
}
