.header {
  background-color: $light-blue;
  padding: 6rem 0 4rem;
  border-radius: 20px;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rem;
  }
  // &-content {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   gap: 0 16rem;
  // }
  // &-info {
  //   width: 100%;
  //   max-width: 76rem;
  // }
  &-heading {
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 10rem;
    line-height: 1.25;
  }
  &-media {
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 61rem;
    height: 77.3rem;
    transform: translateY(33%);
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  @media screen and (max-width: 1023px) {
    &-top {
      margin-bottom: 10rem;
    }
    &-media {
      position: relative;
      transform: none;
      height: 55rem;
    }
    &-heading {
      font-size: 6rem;
    }
  }
  @media screen and (max-width: 767px) {
    &-content {
      grid-template-columns: 1fr;
      grid-gap: 5rem 0;
    }
    &-media {
      height: auto;
    }
    &-heading {
      margin-bottom: 5rem;
      font-size: 5rem;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 8rem;
  &-link {
    color: inherit;
    font-weight: 500;
    font-size: 2.5rem;
  }
}
.search {
  background-color: white;
  border-radius: 20px;
  padding: 2.5rem;
  &-input {
    display: block;
    width: 100%;
    padding: 4rem 3rem;
    border-radius: 12px;
    border: none;
    background-color: $gray;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    &::-webkit-input-placeholder {
      color: $gray-blur;
      font-weight: 300;
    }
    &::-moz-input-placeholder {
      color: $gray-blur;
      font-weight: 300;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-button {
    width: 10rem;
    height: 10rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    background-color: $primary;
    margin-left: 50px;
    flex-shrink: 0;
    font-size: 3rem;
  }
  &-hashtags {
    display: flex;
    align-items: center;
    gap: 2.5rem 3.5rem;
    flex-wrap: wrap;
    color: $gray-light;
    font-size: 1.8rem;
  }
  @media screen and (max-width: 767px) {
    &-button {
      margin-left: 2rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .header-toggle,
  .menu-close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 300px;
    z-index: 9;
    flex-direction: column;
    padding-top: 5rem;
    align-items: stretch;
    transition: transform 0.25s ease;
    transform: translateX(100%);
    &.is-show {
      transform: translateX(0);
    }
    &-link {
      display: block;
      width: 100%;
      padding: 15px;
    }
    &-close {
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 3rem;
    }
  }
  .header-toggle {
    font-size: 25px;
    cursor: pointer;
  }
  .header-logo {
    max-width: 100px;
  }
}
