html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #eee;
}
.search {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 6px;
  display: flex;
}
.search-input {
  padding: 1rem;
  border: 0;
  border-radius: inherit;
  flex-grow: 1;
  font-size: 1.4rem;
  font-family: "Poppins";
}
.search-btn {
  padding: 1rem 2.5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #2979ff;
  border: 0;
  border-radius: inherit;
  font-size: 1.6rem;
  width: max-content;
  flex-shrink: 0;
}
