*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body,
input,
button,
textarea,
select {
  outline: none;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
body {
  padding: 20px;
}
